@import "tailwindcss";

body {
  width: 100%;
  margin: 0;
  padding: 0 ;
  box-sizing: border-box;
  min-height: 100vh;
  background: #276132;
  background: linear-gradient(
    90deg,
    rgba(24, 73, 125, 1) 0%,
    rgba(3, 10, 27, 1) 6%,
    rgba(3, 10, 27, 1) 94%,
    rgba(24, 73, 125, 1) 100%
  );
}

#root{
  width: 100%;
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
}